<div class="main help">
	<div class="container">


		<div class="row">
			
			<div class="col-xs-8 col-md-8 col-md-offset-2">
				<h2>Help</h2>
				<p>SMS Messaging Commands:</p>
				
				<ul class="help-sms">
					<li>
						<em>CLINIC: </em>Send the keyword "CLINIC" + "@zip code", "@city name" or "@county name" will return a list of clinics in that area.
					</li>
					<li><em>Example: </em>"CLINIC@33313"  to find clinics at the 33313 zip code area.</li>
					<li><em>ASSIST: </em> Send the keyword "ASSIST" to the service will return the list of commands.</li>
				</ul>
			</div>
		</div>

	</div>

</div>

<%= render 'layouts/footer' %>