/*
# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
*/

var main = function(){

	var page_id = $('.main').data('pageId');
	var search_box = $('#search');
	var search_total = $('.search-stats').data('total');
	
	if (search_box.val() === ""){
		$('.search-stats').hide();
	}else{
		$('.search-stats').show();
	}

	if (search_total <= 0 ){
	    $('#map-canvas').hide();
	}else{
	    $('#map-canvas').show();
	}

	if( page_id === "index" && search_box.val() !== ""){

		var map = L.map('map-canvas');
		var search = $('#map-canvas').data('query');
		var page = $('#map-canvas').data('page');

		var url_params ="";

		if( page === "" ){
			
			url_params = "?utf8=%E2%9C%93&search=" + search;
		}else if (page >= 1 ){
			
			url_params = "?page="+page+"&search="+search+"&utf8=%E2%9C%93";
		}
		$('.btn-location').click(function(){
			var $activeBtn = $(this);
			var latitude = $(this).data('lat');
			var longitude = $(this).data('lng');
			//console.log(latitude);
			var center = new L.LatLng(latitude, longitude);
			map.setView(center, 12);

        	$activeBtn.addClass('selected');
        	$('.btn-location').not($activeBtn).removeClass('selected');
			
		});

		$.getJSON('centers.json'+ url_params,  function(data){
	           
	            showMaps( data);
	            /*
	            $.each(data, function(index){
	               var search_id = data[index].id,
	               		site_name = data[index].site_name,
	               	   	longitude = data[index].longitude,
	        	   	   	latitude =  data[index].latitude;
	        	   	   	console.log(site_name, longitude, latitude);
	        	   	   	showMap('map-canvas', data[index]);

	            });*/
	     });

	} else if ( page_id === "show"){
		
		 var center_id = $('#map').data('centerId');

	     $.getJSON(center_id + '.json', function(data){
	     		showMap(data);
	     });

	}

	var showMaps = function(data){
		var lat = data[0].latitude, lng = data[0].longitude;
		var mainIcon = "<%= asset_path('marker-icon.png') %>";
		var shadowIcon = "<%= asset_path('marker-shadow.png') %>";

		
		var center = new L.LatLng(lat, lng);
		map.setView(center, 12);

		var MainIcon = L.Icon.Default.extend({
			options: {
				iconUrl: mainIcon,
				shadowUrl: shadowIcon
			}
		});

		var mainIcon = new MainIcon();

		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
			maxZoom: 18
		}).addTo(map);

		/*
		L.tileLayer( 'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
	    	attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors | Tiles Courtesy of <a href="http://www.mapquest.com/" title="MapQuest" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" width="16" height="16">',
	    	subdomains: ['otile1','otile2','otile3','otile4']
			}).addTo( map );*/
		
		$.each(data, function(index){
			L.marker( [data[index].latitude, data[index].longitude], {icon: mainIcon})
				.bindPopup( '<a href="/centers/' + data[index].id+ '">' + data[index].site_name + '</a>')
				.addTo( map );

		});
	}

	var showMap = function( data) {
		
		var lat = data.latitude, lng = data.longitude;
		var imageIcon = "<%= asset_path('marker-icon-red.png') %>";
		var shadowIcon = "<%= asset_path('marker-shadow.png') %>";
		var website = "";
		
		var map1 = L.map('map', {
			center : [lat,  lng],		
			zoom: 15

		});

		var RedIcon = L.Icon.Default.extend({
			options: {
				iconUrl: imageIcon,
				shadowUrl: shadowIcon
			}
		});

		var redIcon = new RedIcon();

		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
			maxZoom: 18
		}).addTo(map1);
		//console.log(data.website);

				
		if (data.website === null || data.website === "unkn" || data.website === ""){
			website = data.site_name;
		} else {
			
			website = '<a href="http://' + data.website+ '">' + data.site_name + '</a>';
		}
		
		L.marker( [data.latitude, data.longitude], {icon: redIcon})
				.bindPopup( website  )
				.addTo( map1 );
	}

	
    
}

$(document).ready(main);

