<div class="main about">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				
			</div>
			
		</div>

		<div class="row">
			
			<div class="col-xs-8 col-md-8 col-md-offset-2">
				<h2>About</h2>
				<p>Clinic Square: Connecting users to healthcare information. </p>

				<p>Clinic Square is a final project created by Michael Collie-Acasio for the Codecademy Labs. This web service was built to connect individuals to a health center in their community. This service will enable it’s users to find this information via the web and sms messaging.</p>

				<p>This project is a remix of the HRSA.gov "<a href="http://findahealthcenter.hrsa.gov/Search_HCC.aspx">Find a Health Center</a>", website. This has the same search function, with an added feature: SMS messaging. The messaging feature allows a user to send a keyword with a location identifier ie. zip code or city name. The web service then returns the search results to the user.</p>
			</div>
		</div>


	</div>

</div>

<%= render 'layouts/footer' %>