// Place all the styles related to the Centers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
	
	padding: 15px 0 10px 0;
	margin-bottom:10px;
	background: #456789;
}
.footer {
	/*position: absolute;
	bottom:0;*/
	width:100%;
	padding: 30px 0;
	background: #456789;
	color: #fff;
}
.logo h1{
	color: #fff;
	display:inline;
	font-size: 18px;
	text-decoration:none;
}
.header a{
	color:#fff;
}
.header a:hover{
	color:#ff3483;
	text-decoration:none;
}
.right {
	float:right;
	clear:both;
}
.nav ul{
	display:inline;
}
.menu li{
	display:inline;
	list-style-type:none;
	padding: 10px 5px 10px 5px;
	background: transparent;
	color: #fff;
}
.search-query{
	width:80%;
}
.search-list ul{
	margin-left:-40px;
}
.search-list li{
	margin-top:-15px;
	list-style-type:none;
	padding: 10px 0;
	
}
.search-link {
	color:#008000;
}
.search-stats {
	font-size:14px;
	color: #b8b8b8;
	
}
.pagination {
	margin-top:-15px;
}

.form-search {
	text-align: center;
	width:50%;
}